/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body{
    /* Location of the image */
  background-image: url('../src/assets/Images/Football-Stadium-background.jpg');
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}
  
  /* Centered text */
  .section1 {
    /* color: white; */
    /* font-weight: bold; */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  /* Centered text */
  .section2 {
    /* background-color: rgb(0,0,0);  */
    /* background-color: rgba(0,0,0, 0.4);  */
    /* color: white; */
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    opacity: 3;
  }

  /* Centered text */
  .thank-you {
    /* color: white; */
    /* font-weight: bold; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  .btn-kickoff{
      margin-top: 5px;
  }
  .options{
    padding: 5px;
    border-radius: 5px;
  }
  .question{
    padding: 5px;
    border-radius: 5px;
    background-color: cornflowerblue;
  }

  input {
    color: white;
    height: 17px;
    width: 17px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  input:checked {
    content: url('https://www.pikpng.com/pngl/b/123-1233845_green-football-clip-art-at-clker-football-in.png');
  }
  input[type=radio]{
    border: none;
  }

  .elementToFadeInAndOut {
    -webkit-animation: fadeinout 2s linear forwards;
    animation: fadeinout 2s linear forwards;
}

@keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 2;}
  100% {opacity: 3;}
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
/* Centered text */
.section1 {
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.section1 h1 {
  font-size: 1.5rem;
}
  /* For desktop: */
  .section2 {
    font-weight: bold;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  .section2 h2{
    font-size: 1.5rem;
  }

  .thank-you {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {

/* Centered text */
.section1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
  /* For desktop: */
  .section2 {
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  .thank-you {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
}