<div class="content-w3ls">
    <div class="text-center icon">
        <h3 style="color: white;">Welcome to Footy Trivia</h3>
    </div>
    <div class="content-bottom">
        <div class="wthree-field">
            <p style="color: white;">
                Welcome to Footy Trivia – your ultimate destination for an exhilarating football quiz experience! We're
                passionate about the beautiful game and have created a virtual haven where football enthusiasts of all
                levels can come together to test their knowledge and celebrate their love for the sport. Our website
                boasts an extensive collection of trivia questions sourced from a myriad of football competitions
                spanning the globe. Whether you're a die-hard fan or a casual observer, Footy Trivia offers a diverse
                range of questions that cover historical moments, legendary players, iconic stadiums, championship
                triumphs, and much more.
            </p>
            <p style="color: white;">
                At Footy Trivia, we're more than just a quiz platform – we're a community united by a shared adoration
                for football. Our questions are meticulously crafted to challenge and engage, ensuring that you'll not
                only have fun but also expand your understanding of the sport's rich tapestry. Our user-friendly
                interface guarantees a seamless experience, whether you're exploring solo, competing with friends, or
                joining our lively community discussions. Join us at Footy Trivia and embark on a journey through the
                captivating world of football facts and memories. Score goals of knowledge, tackle challenging
                questions, and revel in the camaraderie of fellow fans – all in one thrilling digital arena.
            </p>
        </div>
        <br>
        <div class="wthree-field">
            <button type="submit" class="btn" [routerLink]="['/layout/line-ups']">Proceed</button>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-8">
            <div class="main-content-box">
                <img src="../../../../assets/Images/FT_Img1.jpg" alt="Snow">
                <div class="main-content">Main Content</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="leaderboard">
                LeaderBoard
            </div>
        </div>
    </div> -->
</div>