<section class="main">
    <div class="layer container elementToFadeInAndOut">
        <div class="content-w3ls">
            <div class="text-center">
                <h3 class="alert alert-success">Hey {{username}}, Good game Mate!</h3>
            </div>
            <div class="content-bottom">
                <div class="wthree-field">
                    <section class="stats">
                        <h2>Stats</h2>
                        <p *ngIf="correctAnswers" class="alert alert-success">You scored {{correctAnswers}} and
                            conceded
                            {{ 10 - correctAnswers }} goals!</p>
                    </section>
                </div>

                <hr>

                <div>
                    <section>
                        <button type="button" class="btn btn-danger form-control"
                            [routerLink]="['/layout/questions']">Restart
                            the
                            Match</button>
                        <button type="button" class="btn btn-primary form-control mt-2"
                            [routerLink]="['/layout/line-ups']">Back to
                            Line
                            Ups</button>
                    </section>
                </div>

                <hr>

                <section class="challenge-social">
                    <h4>Challenge your friends!</h4>

                    <hr>

                    <div class="btn-wrapper">
                        <a class="social-icons"
                            href="mailto:?subject=Try to beat my quiz score!&amp;body=I scored quiz. Try to beat me">
                            <i class="fa fa-envelope"></i>
                        </a>
                        <a class="social-icons" target="_blank"
                            href="https://www.twitter.com/intent/tweet?text=I scored 6/10 on this awesome quiz. Try to beat me. &url=http://172.105.56.24&">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="social-icons" target="_blank"
                            href="https://www.facebook.com/sharer/sharer.php?u=172.105.56.240">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>