<section class="jumbotron thank-you">

    <h3>Hey {{username}}, Thank You !</h3>

    <h2>Footy Trivia Quiz</h2>

    <section class="results">
        <section class="statistics">
            <h3>Statistics</h3>
            <p *ngIf="correctAnswers" class="alert alert-success">You kept a clean sheet with {{correctAnswers}}
                out of 10 questions correctly.</p>
            <!-- <span>You scored {{ correctAnswersCount }} out of {{ totalQuestions }} questions correctly.</span>
                <span>You completed the quiz in {{ elapsedMinutes }} minutes and {{ elapsedSeconds }} seconds.</span> -->
        </section>
    </section>

    <section class="return">
        <button type="button" class="btn btn-outline-danger" [routerLink]="['/questions']">Restart the
            Match</button>
        <button type="button" class="btn btn-outline-primary ml-2" [routerLink]="['/home']">Back to Line Ups</button>
    </section>

    <hr />

    <section class="challenge-social">
        <h4>Challenge your friends!</h4>
        <div class="social-buttons">
            <a class="btn btn-outline-danger"
                href="mailto:?subject=Try to beat my quiz score!&amp;body=I scored quiz. Try to beat me">Email
                a friend</a>
            <a class="btn btn-outline-primary ml-2" target="_blank"
                href="https://www.twitter.com/share?text=I scored % on this awesome quiz. Try to beat me">Tweet
                your score</a>
        </div>
    </section>

</section>