<section class="section1"><h1>Welcome to Footy Trivia !</h1></section>

<section class="section2" id="section2">
    <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="text" name="username" formControlName="username" id="username" class="form-control"
                placeholder="What do you call yourself in the football world?">

            <button type="submit" class="btn btn-danger btn-kickoff">Kick Off</button>
        </div>
    </form>
</section>