<section class="main">
    <div class="layer  container">
        <div class="content-w3ls">
            <div class="text-center icon">
                <h3 style="color: white;">Welcome to Footy Trivia</h3>
            </div>
            <div class="content-bottom">
                <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
                    <div class="wthree-field">
                        <input name="text1" id="text1" class="form-control" formControlName="username" type="text"
                            value="" placeholder="Footy Trivia name">
                    </div>
                    <div class="wthree-field">
                        <button type="submit" class="btn">Kick Off</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>