<div class="row">
    <section class="section1">
        <h3 class="alert alert-success">Welcome to Footy Trivia !</h3>
    </section>
</div>

<div class="row">
    <section class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 home" id="home">
        <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" name="username" formControlName="username" id="username" class="form-control"
                    placeholder="What do you call yourself in the football world?">

                <button type="submit" class="btn btn-danger btn-kickoff">Kick Off</button>
            </div>
        </form>
    </section>
</div>